In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, BatchNormalization
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

CONVERSION OF STRING DATA SET

In [ ]:
df = df.drop(["Surname", "RowNumber", "Geography", "Gender"], axis=1)

In [ ]:
df.head()

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,15634602,619,42,2,0.00,1,1,1,101348.88,1
1,15647311,608,41,1,83807.86,1,0,1,112542.58,0
2,15619304,502,42,8,159660.80,3,1,0,113931.57,1
3,15701354,699,39,1,0.00,2,0,0,93826.63,0
4,15737888,850,43,2,125510.82,1,1,1,79084.10,0

In [ ]:
y = df["Exited"]
X = df.drop(["Exited"],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=64)

NORMALIZING THE DATA SET

A Sequential model is appropriate for a plain stack of layers where each layer has exactly one input tensor and one output tensor.

In [ ]:
model = Sequential()
# model.add(Dense(128, activation="relu"))
# model.add(Dense(20, activation="linear"))
# model.add(BatchNormalization())
model.add(Dense(16, activation="linear"))
model.add(Dense(1))
model.compile(loss="mse", optimizer="adam")  #gradient descent

In [ ]:
model.fit(X_train,y_train, validation_split=0.3, epochs = 60, verbose = 1)

Epoch 1/60
154/154 [==============================] - 1s 4ms/step - loss: 122423083008.0000 - val_loss: 896072576.0000
Epoch 2/60
154/154 [==============================] - 0s 3ms/step - loss: 812451712.0000 - val_loss: 762099776.0000
Epoch 3/60
154/154 [==============================] - 0s 2ms/step - loss: 633840064.0000 - val_loss: 567045760.0000
Epoch 4/60
154/154 [==============================] - 0s 2ms/step - loss: 461716256.0000 - val_loss: 371582528.0000
Epoch 5/60
154/154 [==============================] - 0s 2ms/step - loss: 309540352.0000 - val_loss: 249049360.0000
Epoch 6/60
154/154 [==============================] - 0s 2ms/step - loss: 197935760.0000 - val_loss: 149132384.0000
Epoch 7/60
154/154 [==============================] - 0s 2ms/step - loss: 117781624.0000 - val_loss: 90096720.0000
Epoch 8/60
154/154 [==============================] - 0s 2ms/step - loss: 66036420.0000 - val_loss: 46558488.0000
Epoch 9/60
154/154 [==============================] - 0s 2ms/step - loss: 34668412.0000 - val_loss: 23649426.0000
Epoch 10/60
154/154 [==============================] - 0s 2ms/step - loss: 17048720.0000 - val_loss: 11705745.0000
Epoch 11/60
154/154 [==============================] - 0s 3ms/step - loss: 8067978.0000 - val_loss: 5263686.5000
Epoch 12/60
154/154 [==============================] - 0s 2ms/step - loss: 3335201.5000 - val_loss: 1974531.5000
Epoch 13/60
154/154 [==============================] - 0s 2ms/step - loss: 1284361.3750 - val_loss: 747847.2500
Epoch 14/60
154/154 [==============================] - 0s 3ms/step - loss: 467914.7188 - val_loss: 248592.6875
Epoch 15/60
154/154 [==============================] - 0s 2ms/step - loss: 157799.2500 - val_loss: 88253.8203
Epoch 16/60
154/154 [==============================] - 0s 3ms/step - loss: 47573.4414 - val_loss: 22322.7344
Epoch 17/60
154/154 [==============================] - 0s 2ms/step - loss: 13972.8818 - val_loss: 7427.0586
Epoch 18/60
154/154 [==============================] - 0s 2ms/step - loss: 5193.8525 - val_loss: 3179.8174
Epoch 19/60
154/154 [==============================] - 0s 2ms/step - loss: 2876.8821 - val_loss: 2992.5234
Epoch 20/60
154/154 [==============================] - 0s 2ms/step - loss: 2552.3423 - val_loss: 2226.5403
Epoch 21/60
154/154 [==============================] - 0s 2ms/step - loss: 2446.5027 - val_loss: 2200.4983
Epoch 22/60
154/154 [==============================] - 0s 2ms/step - loss: 2456.2539 - val_loss: 2426.6506
Epoch 23/60
154/154 [==============================] - 0s 3ms/step - loss: 2419.6423 - val_loss: 3868.3186
Epoch 24/60
154/154 [==============================] - 0s 2ms/step - loss: 2677.3137 - val_loss: 3287.1936
Epoch 25/60
154/154 [==============================] - 0s 2ms/step - loss: 2628.1287 - val_loss: 2306.7698
Epoch 26/60
154/154 [==============================] - 0s 2ms/step - loss: 2454.4700 - val_loss: 2159.7793
Epoch 27/60
154/154 [==============================] - 0s 2ms/step - loss: 2549.8809 - val_loss: 2180.5869
Epoch 28/60
154/154 [==============================] - 0s 2ms/step - loss: 2608.2292 - val_loss: 4244.0874
Epoch 29/60
154/154 [==============================] - 0s 2ms/step - loss: 2517.7993 - val_loss: 3089.6172
Epoch 30/60
154/154 [==============================] - 0s 2ms/step - loss: 2580.6487 - val_loss: 7899.6206
Epoch 31/60
154/154 [==============================] - 0s 3ms/step - loss: 3029.6338 - val_loss: 3083.6660
Epoch 32/60
154/154 [==============================] - 0s 2ms/step - loss: 2711.0759 - val_loss: 2356.4753
Epoch 33/60
154/154 [==============================] - 0s 2ms/step - loss: 2860.1750 - val_loss: 2473.0232
Epoch 34/60
154/154 [==============================] - 0s 2ms/step - loss: 2738.1541 - val_loss: 2512.9753
Epoch 35/60
154/154 [==============================] - 0s 2ms/step - loss: 2835.8013 - val_loss: 2168.2563
Epoch 36/60
154/154 [==============================] - 0s 3ms/step - loss: 3129.2378 - val_loss: 3617.5007
Epoch 37/60
154/154 [==============================] - 0s 2ms/step - loss: 3397.1699 - val_loss: 4892.4521
Epoch 38/60
154/154 [==============================] - 0s 2ms/step - loss: 3522.5808 - val_loss: 4730.6743
Epoch 39/60
154/154 [==============================] - 0s 2ms/step - loss: 5593.7798 - val_loss: 7374.8599
Epoch 40/60
154/154 [==============================] - 0s 2ms/step - loss: 5078.5039 - val_loss: 2199.3721
Epoch 41/60
154/154 [==============================] - 0s 2ms/step - loss: 4909.8242 - val_loss: 2143.8181
Epoch 42/60
154/154 [==============================] - 0s 3ms/step - loss: 4446.2075 - val_loss: 2191.9473
Epoch 43/60
154/154 [==============================] - 0s 2ms/step - loss: 5693.1084 - val_loss: 87436.8359
Epoch 44/60
154/154 [==============================] - 0s 2ms/step - loss: 8035.9111 - val_loss: 3309.0955
Epoch 45/60
154/154 [==============================] - 0s 2ms/step - loss: 11961.0029 - val_loss: 36827.5273
Epoch 46/60
154/154 [==============================] - 0s 2ms/step - loss: 17547.6211 - val_loss: 3552.6313
Epoch 47/60
154/154 [==============================] - 0s 2ms/step - loss: 14123759.0000 - val_loss: 27699584.0000
Epoch 48/60
154/154 [==============================] - 0s 2ms/step - loss: 21412366.0000 - val_loss: 5155571.5000
Epoch 49/60
154/154 [==============================] - 0s 3ms/step - loss: 14825378.0000 - val_loss: 1150683.1250
Epoch 50/60
154/154 [==============================] - 0s 2ms/step - loss: 17100868.0000 - val_loss: 65824.3516
Epoch 51/60
154/154 [==============================] - 0s 3ms/step - loss: 14969153.0000 - val_loss: 57864.8477
Epoch 52/60
154/154 [==============================] - 0s 3ms/step - loss: 22274400.0000 - val_loss: 30568.6465
Epoch 53/60
154/154 [==============================] - 0s 2ms/step - loss: 13443966.0000 - val_loss: 524874.8750
Epoch 54/60
154/154 [==============================] - 0s 3ms/step - loss: 10796598.0000 - val_loss: 55606912.0000
Epoch 55/60
154/154 [==============================] - 0s 2ms/step - loss: 24929300.0000 - val_loss: 4974261.5000
Epoch 56/60
154/154 [==============================] - 0s 2ms/step - loss: 12181426.0000 - val_loss: 1334963.7500
Epoch 57/60
154/154 [==============================] - 0s 2ms/step - loss: 11137358.0000 - val_loss: 63486948.0000
Epoch 58/60
154/154 [==============================] - 0s 2ms/step - loss: 27016902.0000 - val_loss: 20116052.0000
Epoch 59/60
154/154 [==============================] - 0s 3ms/step - loss: 5329323.0000 - val_loss: 5335614.0000
Epoch 60/60
154/154 [==============================] - 0s 2ms/step - loss: 20007382.0000 - val_loss: 120915512.0000

In [ ]:
model.evaluate(X,y)

313/313 [==============================] - 0s 1ms/step - loss: 120898064.0000

120898064.0

In [ ]:
test = (X_test - X_test.mean())/X_test.std()

In [ ]:
test

,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
5158,1.375814,-0.649218,1.652932,1.371155,-1.220429,-0.928320,0.641064,-0.997836,-0.594841
596,0.086502,0.352267,0.460460,1.371155,-1.220429,0.816642,0.641064,-0.997836,0.150900
3095,-0.149874,1.445725,-1.924484,0.685463,1.073962,-0.928320,0.641064,-0.997836,-1.135106
2015,0.339260,1.312875,0.162342,-1.028766,-0.012830,-0.928320,0.641064,1.001835,-0.796711
6626,-0.991439,2.007783,2.746031,0.685463,0.759865,-0.928320,-1.559386,1.001835,-0.792170
...,...,...,...,...,...,...,...,...,...
3233,-1.247936,-0.567464,-0.235149,0.342617,0.151951,-0.928320,0.641064,1.001835,-1.281431
5431,-1.507462,0.464679,-1.328248,1.028309,0.802778,-0.928320,0.641064,-0.997836,0.394080
5270,-1.168679,-0.638998,-0.533267,1.371155,1.182700,0.816642,0.641064,1.001835,-0.577276
323,-1.475871,1.149367,-0.732012,-0.343074,-1.220429,0.816642,-1.559386,-0.997836,-0.839664
9641,-0.114502,0.301171,-0.433894,1.371155,-1.220429,0.816642,0.641064,1.001835,-0.058314

In [ ]:
test = np.asarray(test).astype(np.float32)

In [ ]:
model.predict(X_test)

array([[-11086.987],
       [-10965.987],
       [-10952.987],
       ...,
       [-10985.987],
       [-10863.237],
       [-10961.487]], dtype=float32)

In [ ]:
model.evaluate(X_test, y_test)

94/94 [==============================] - 0s 1ms/step - loss: 120903464.0000

120903464.0

In [ ]:
a = model.get_weights()

In [ ]:
a

[array([[-0.21167596, -0.38983196,  0.1142299 ,  0.3120295 ,  0.3247567 ,
          0.46568313,  0.14183387, -0.13520049, -0.33352265,  0.35767055,
          0.15951045, -0.07925156, -0.09180404,  0.38882583, -0.4487026 ,
          0.20605287],
        [ 0.41409415,  0.04415344,  0.02672969,  0.26233244, -0.43015984,
          0.04880205,  0.1820176 , -0.37918994, -0.20397334, -0.31127286,
         -0.39264244, -0.06777117,  0.45716548, -0.225099  ,  0.115206  ,
         -0.08430971],
        [ 0.03660209,  0.08648437,  0.48120496, -0.0833185 , -0.22992602,
         -0.05133835, -0.05991928,  0.37982693, -0.30876678, -0.39509138,
          0.04664595,  0.34683883,  0.3274447 , -0.5109907 , -0.40175608,
         -0.09042062],
        [ 0.17097352, -0.32191548, -0.0016409 , -0.1984566 , -0.4723831 ,
         -0.18081446, -0.13905412, -0.37150344, -0.21820664, -0.02822585,
          0.1484645 , -0.26997596, -0.19072035,  0.31300175,  0.3456358 ,
         -0.3366556 ],
        [ 0.2785976 ,  0.23051372, -0.0679222 ,  0.50420094, -0.29082087,
         -0.3022549 , -0.15089466, -0.34798253,  0.21717575, -0.06122177,
          0.31390202, -0.38573316,  0.30092046, -0.41241488, -0.2745735 ,
          0.5103832 ],
        [ 0.01946749,  0.17166875, -0.02195398,  0.03946869, -0.19885823,
         -0.3141802 , -0.16710453, -0.02598378, -0.4064215 , -0.39548737,
         -0.38587397,  0.34096423, -0.4552635 , -0.3412124 ,  0.39318547,
         -0.35964814],
        [ 0.44423962,  0.25560772, -0.03547046,  0.01032223,  0.29350188,
          0.27502978,  0.10614129, -0.2257445 ,  0.26244023,  0.0108733 ,
          0.04558232,  0.45447177, -0.03148184, -0.43361762, -0.18185988,
         -0.07424819],
        [ 0.39114657,  0.44732362, -0.08348529, -0.06624448, -0.21084504,
          0.17602971, -0.17084546, -0.00924632,  0.48396584, -0.29260075,
         -0.13265684,  0.0427986 ,  0.4897798 , -0.4948947 , -0.1379156 ,
          0.04975406],
        [-0.13221201,  0.09940296, -0.50331074, -0.3633369 , -0.47162423,
         -0.53914994, -0.32335415, -0.32078254,  0.21930067, -0.2982083 ,
          0.20585528,  0.52264464,  0.18396871, -0.00849668, -0.24672201,
         -0.08349825]], dtype=float32),
 array([ 0.01280613,  0.01286233,  0.01187717, -0.0128516 ,  0.01205459,
         0.01214584,  0.01218645, -0.01222855,  0.01260278, -0.01264983,
        -0.01292029, -0.01153512,  0.01286708, -0.03202965, -0.01221616,
        -0.01261521], dtype=float32),
 array([[ 0.26625472],
        [ 0.23354232],
        [ 0.21305469],
        [-0.23878899],
        [ 0.30977842],
        [ 0.4120731 ],
        [ 0.49118295],
        [-0.6005534 ],
        [ 0.56177914],
        [-0.4487787 ],
        [-0.2046682 ],
        [-0.13358335],
        [ 0.22323866],
        [ 0.00620565],
        [-0.5562332 ],
        [-0.52446294]], dtype=float32),
 array([0.01241384], dtype=float32)]