In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, BatchNormalization
import numpy as np
import pandas as pd

In [ ]:
df = pd.read_csv("train.csv")
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1

CONVERSION OF STRING DATA SET

In [ ]:
df["datetime"] = df["datetime"].astype("datetime64")

In [ ]:
df["hour"] = df["datetime"].dt.hour
df["day"] = df["datetime"].dt.day
df["month"] = df["datetime"].dt.month
df["year"] = df["datetime"].dt.year

In [ ]:
df.head()

,datetime,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,count,hour,day,month,year
0,2011-01-01 00:00:00,1,0,0,1,9.84,14.395,81,0.0,3,13,16,0,1,1,2011
1,2011-01-01 01:00:00,1,0,0,1,9.02,13.635,80,0.0,8,32,40,1,1,1,2011
2,2011-01-01 02:00:00,1,0,0,1,9.02,13.635,80,0.0,5,27,32,2,1,1,2011
3,2011-01-01 03:00:00,1,0,0,1,9.84,14.395,75,0.0,3,10,13,3,1,1,2011
4,2011-01-01 04:00:00,1,0,0,1,9.84,14.395,75,0.0,0,1,1,4,1,1,2011

In [ ]:
df = df.drop(["datetime"], axis=1)

In [ ]:
y = df["count"]
X = df.drop(["count"],axis=1)

In [ ]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.3, random_state=64)

NORMALIZING THE DATA SET

In [ ]:
data = (X_train - X_train.mean())/X_train.std()
y.head()

0    16
1    40
2    32
3    13
4     1
Name: count, dtype: int64

In [ ]:
X_train

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,hour,day,month,year
8960,3,0,1,1,30.34,34.090,55,19.0012,102,749,17,15,8,2012
8066,2,0,0,1,27.06,31.060,39,11.0014,213,353,11,16,6,2012
6089,1,0,1,2,12.30,16.665,52,0.0000,9,75,23,9,2,2012
7678,2,0,0,1,18.86,22.725,67,7.0015,28,67,7,19,5,2012
10494,4,0,1,1,24.60,31.060,53,8.9981,45,397,16,3,12,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54,1,0,1,1,6.56,6.820,43,26.0027,7,81,9,3,1,2011
3238,3,0,1,2,28.70,33.335,74,12.9980,41,245,20,4,8,2011
6263,1,0,1,2,11.48,13.635,93,11.0014,0,16,5,17,2,2012
5094,4,0,1,2,18.86,22.725,94,12.9980,13,401,8,6,12,2011
6596,1,0,1,1,14.76,17.425,50,8.9981,0,2,3,12,3,2012

A Sequential model is appropriate for a plain stack of layers where each layer has exactly one input tensor and one output tensor.

In [ ]:
model = Sequential()
# model.add(Dense(128, activation="relu"))
# model.add(Dense(20, activation="linear"))
# model.add(BatchNormalization())
model.add(Dense(16, activation="linear"))
model.add(Dense(1))
model.compile(loss="mse", optimizer="adam")  #gradient descent

In [ ]:
model.fit(X_train,y_train, validation_split=0.3, epochs = 60, verbose = 1)
#the choice that how you want to see the output of your Nural Network while it's training.

Epoch 1/60
167/167 [==============================] - 1s 3ms/step - loss: 43189.9805 - val_loss: 13360.9678
Epoch 2/60
167/167 [==============================] - 0s 3ms/step - loss: 5090.8872 - val_loss: 870.9161
Epoch 3/60
167/167 [==============================] - 0s 2ms/step - loss: 388.3059 - val_loss: 240.7023
Epoch 4/60
167/167 [==============================] - 0s 2ms/step - loss: 199.7929 - val_loss: 181.6874
Epoch 5/60
167/167 [==============================] - 0s 2ms/step - loss: 152.1219 - val_loss: 137.7336
Epoch 6/60
167/167 [==============================] - 0s 2ms/step - loss: 113.1657 - val_loss: 100.2240
Epoch 7/60
167/167 [==============================] - 0s 2ms/step - loss: 82.0421 - val_loss: 70.8125
Epoch 8/60
167/167 [==============================] - 0s 2ms/step - loss: 58.3213 - val_loss: 51.2442
Epoch 9/60
167/167 [==============================] - 0s 2ms/step - loss: 40.3876 - val_loss: 34.3950
Epoch 10/60
167/167 [==============================] - 0s 2ms/step - loss: 27.9067 - val_loss: 22.2611
Epoch 11/60
167/167 [==============================] - 0s 2ms/step - loss: 18.1879 - val_loss: 14.3343
Epoch 12/60
167/167 [==============================] - 0s 3ms/step - loss: 11.6348 - val_loss: 9.1392
Epoch 13/60
167/167 [==============================] - 0s 2ms/step - loss: 7.3179 - val_loss: 5.6502
Epoch 14/60
167/167 [==============================] - 0s 2ms/step - loss: 4.5696 - val_loss: 3.4833
Epoch 15/60
167/167 [==============================] - 0s 2ms/step - loss: 2.8291 - val_loss: 2.1025
Epoch 16/60
167/167 [==============================] - 0s 2ms/step - loss: 1.7847 - val_loss: 1.3129
Epoch 17/60
167/167 [==============================] - 0s 2ms/step - loss: 1.2143 - val_loss: 0.9156
Epoch 18/60
167/167 [==============================] - 0s 2ms/step - loss: 0.9198 - val_loss: 0.7424
Epoch 19/60
167/167 [==============================] - 0s 2ms/step - loss: 0.7354 - val_loss: 0.6318
Epoch 20/60
167/167 [==============================] - 0s 2ms/step - loss: 0.6383 - val_loss: 0.5346
Epoch 21/60
167/167 [==============================] - 0s 2ms/step - loss: 0.5949 - val_loss: 0.4913
Epoch 22/60
167/167 [==============================] - 0s 2ms/step - loss: 0.5791 - val_loss: 0.5312
Epoch 23/60
167/167 [==============================] - 0s 2ms/step - loss: 0.5478 - val_loss: 0.5402
Epoch 24/60
167/167 [==============================] - 0s 2ms/step - loss: 0.5407 - val_loss: 0.4667
Epoch 25/60
167/167 [==============================] - 0s 2ms/step - loss: 0.5236 - val_loss: 0.4337
Epoch 26/60
167/167 [==============================] - 0s 2ms/step - loss: 0.5090 - val_loss: 0.4163
Epoch 27/60
167/167 [==============================] - 0s 2ms/step - loss: 0.4987 - val_loss: 0.4447
Epoch 28/60
167/167 [==============================] - 0s 2ms/step - loss: 0.4841 - val_loss: 0.3877
Epoch 29/60
167/167 [==============================] - 0s 2ms/step - loss: 0.4674 - val_loss: 0.3812
Epoch 30/60
167/167 [==============================] - 0s 2ms/step - loss: 0.4710 - val_loss: 0.5355
Epoch 31/60
167/167 [==============================] - 0s 2ms/step - loss: 0.4907 - val_loss: 0.3449
Epoch 32/60
167/167 [==============================] - 0s 2ms/step - loss: 0.4654 - val_loss: 0.3408
Epoch 33/60
167/167 [==============================] - 0s 2ms/step - loss: 0.4316 - val_loss: 0.3444
Epoch 34/60
167/167 [==============================] - 0s 3ms/step - loss: 0.4285 - val_loss: 0.4224
Epoch 35/60
167/167 [==============================] - 0s 2ms/step - loss: 0.4357 - val_loss: 0.2759
Epoch 36/60
167/167 [==============================] - 0s 2ms/step - loss: 0.3873 - val_loss: 0.2943
Epoch 37/60
167/167 [==============================] - 0s 2ms/step - loss: 0.3709 - val_loss: 0.2607
Epoch 38/60
167/167 [==============================] - 0s 2ms/step - loss: 0.3518 - val_loss: 0.2405
Epoch 39/60
167/167 [==============================] - 0s 2ms/step - loss: 0.3453 - val_loss: 1.0820
Epoch 40/60
167/167 [==============================] - 0s 2ms/step - loss: 0.3178 - val_loss: 0.2209
Epoch 41/60
167/167 [==============================] - 0s 2ms/step - loss: 0.3027 - val_loss: 0.7574
Epoch 42/60
167/167 [==============================] - 0s 2ms/step - loss: 0.3177 - val_loss: 0.2732
Epoch 43/60
167/167 [==============================] - 0s 2ms/step - loss: 0.2967 - val_loss: 0.3349
Epoch 44/60
167/167 [==============================] - 0s 2ms/step - loss: 0.3203 - val_loss: 0.2202
Epoch 45/60
167/167 [==============================] - 0s 2ms/step - loss: 0.3457 - val_loss: 0.3702
Epoch 46/60
167/167 [==============================] - 0s 2ms/step - loss: 0.3380 - val_loss: 0.2601
Epoch 47/60
167/167 [==============================] - 0s 2ms/step - loss: 0.2099 - val_loss: 0.2277
Epoch 48/60
167/167 [==============================] - 0s 3ms/step - loss: 0.2740 - val_loss: 0.2501
Epoch 49/60
167/167 [==============================] - 0s 2ms/step - loss: 0.3081 - val_loss: 0.4029
Epoch 50/60
167/167 [==============================] - 0s 2ms/step - loss: 0.2324 - val_loss: 0.0763
Epoch 51/60
167/167 [==============================] - 0s 2ms/step - loss: 0.2583 - val_loss: 0.1401
Epoch 52/60
167/167 [==============================] - 0s 2ms/step - loss: 0.3292 - val_loss: 0.1284
Epoch 53/60
167/167 [==============================] - 0s 2ms/step - loss: 0.3679 - val_loss: 0.0654
Epoch 54/60
167/167 [==============================] - 0s 2ms/step - loss: 0.2519 - val_loss: 0.5945
Epoch 55/60
167/167 [==============================] - 0s 2ms/step - loss: 0.1677 - val_loss: 0.1293
Epoch 56/60
167/167 [==============================] - 0s 2ms/step - loss: 0.4362 - val_loss: 0.0984
Epoch 57/60
167/167 [==============================] - 0s 2ms/step - loss: 0.2322 - val_loss: 0.1136
Epoch 58/60
167/167 [==============================] - 0s 2ms/step - loss: 0.3585 - val_loss: 0.0676
Epoch 59/60
167/167 [==============================] - 0s 2ms/step - loss: 0.1885 - val_loss: 0.0400
Epoch 60/60
167/167 [==============================] - 0s 2ms/step - loss: 0.3721 - val_loss: 0.0804

In [ ]:
model.evaluate(X,y)

341/341 [==============================] - 1s 2ms/step - loss: 0.0848

0.08478029072284698

In [ ]:
X_test

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,hour,day,month,year
7688,2,0,0,1,30.34,32.575,30,6.0032,279,347,17,19,5,2012
6930,2,0,0,1,14.76,16.665,29,23.9994,11,25,2,7,4,2012
2038,2,0,1,1,22.14,25.760,64,8.9981,28,245,20,11,5,2011
7971,2,0,1,3,27.06,30.305,83,16.9979,19,76,12,12,6,2012
5559,1,0,1,1,20.50,24.240,29,16.9979,28,391,18,6,1,2012
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3122,3,0,1,1,30.34,34.850,66,7.0015,25,26,0,19,7,2011
4954,4,0,0,1,16.40,20.455,35,19.0012,93,218,12,19,11,2011
7979,2,0,1,1,27.88,31.820,83,12.9980,36,350,20,12,6,2012
183,1,0,0,1,4.92,5.305,36,26.0027,1,33,22,8,1,2011
4389,4,0,1,1,18.86,22.725,59,15.0013,20,123,22,14,10,2011

In [ ]:
test = (X_test - X_test.mean())/X_test.std() #

In [ ]:
test

,season,holiday,workingday,weather,temp,atemp,humidity,windspeed,casual,registered,hour,day,month,year
7688,-0.437773,-0.175855,-1.461750,-0.646253,1.299400,1.059412,-1.638923,-0.827018,4.859387,1.248687,0.788869,1.635901,-0.424766,0.992526
6930,-0.437773,-0.175855,-1.461750,-0.646253,-0.691194,-0.808269,-1.690564,1.352886,-0.496596,-0.847873,-1.392342,-0.537610,-0.714933,0.992526
2038,-0.437773,-0.175855,0.683902,-0.646253,0.251719,0.259397,0.116881,-0.464242,-0.156851,0.584560,1.225112,0.186894,-0.424766,-1.007221
7971,-0.437773,-0.175855,0.683902,2.506342,0.880328,0.792936,1.098065,0.504785,-0.336716,-0.515809,0.061799,0.368019,-0.134600,0.992526
5559,-1.335868,-0.175855,0.683902,-0.646253,0.042183,0.080963,-1.690564,0.504785,-0.156851,1.535174,0.934283,-0.718736,-1.585433,0.992526
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3122,0.460322,-0.175855,0.683902,-0.646253,1.299400,1.326475,0.220163,-0.706092,-0.216806,-0.841362,-1.683170,1.635901,0.155567,-1.007221
4954,1.358416,-0.175855,-1.461750,-0.646253,-0.481657,-0.363359,-1.380717,0.747447,1.142175,0.408761,0.061799,1.635901,1.316234,-1.007221
7979,-0.437773,-0.175855,0.683902,-0.646253,0.985096,0.970782,1.098065,0.020272,0.003029,1.268221,1.225112,0.368019,-0.134600,0.992526
183,-1.335868,-0.175855,-1.461750,-0.646253,-1.948411,-2.141824,-1.329075,1.595548,-0.696446,-0.795784,1.515940,-0.356484,-1.585433,-1.007221
4389,1.358416,-0.175855,0.683902,-0.646253,-0.167353,-0.096883,-0.141326,0.262934,-0.316731,-0.209789,1.515940,0.730271,1.026067,-1.007221

In [ ]:
test = np.asarray(test).astype(np.float32)

In [ ]:
model.predict(X_test)

array([[626.01575 ],
       [ 35.813557],
       [272.8221  ],
       ...,
       [385.81662 ],
       [ 33.962353],
       [142.70871 ]], dtype=float32)

In [ ]:
model.evaluate(X_test, y_test)

103/103 [==============================] - 0s 1ms/step - loss: 0.0874

0.0873681977391243

In [ ]:
a = model.get_weights()

In [ ]:
a

[array([[ 1.59307078e-01, -2.35613137e-02, -5.58695719e-02,
          1.87217787e-01, -2.35218540e-01, -5.30797504e-02,
          8.77990127e-02, -5.16511276e-02, -2.55142033e-01,
          4.02254254e-01, -3.58357280e-01, -1.29417196e-01,
          1.46055013e-01,  3.23960751e-01, -2.53927737e-01,
         -4.20610070e-01],
        [ 2.08861277e-01,  3.33730251e-01, -2.37094820e-01,
          3.41109991e-01, -2.47570887e-01,  1.65314674e-01,
          2.25849435e-01, -2.82835335e-01, -4.83001284e-02,
         -1.14012040e-01, -4.42821831e-01,  4.17396754e-01,
         -1.05862394e-01, -1.60294577e-01,  4.03841794e-01,
          1.02746412e-02],
        [-1.47212684e-01, -3.05612624e-01, -3.62513168e-03,
         -3.00070226e-01, -1.75145075e-01, -3.73182029e-01,
         -2.13790745e-01,  3.29313844e-01,  2.43300945e-01,
         -2.36150026e-01,  2.20946163e-01,  4.45597142e-01,
         -3.48942727e-01,  1.78663194e-01,  1.40106246e-01,
         -1.97326511e-01],
        [-3.13134879e-01, -2.39864916e-01, -6.56913444e-02,
         -2.68007934e-01,  5.85926212e-02,  5.80913834e-02,
         -3.37105602e-01,  4.02198464e-01,  4.48693633e-01,
         -1.03592202e-01, -2.61414528e-01,  2.34735701e-02,
         -1.70177937e-01,  6.11888282e-02, -1.05155230e-01,
         -1.40343547e-01],
        [-2.76672274e-01,  3.10742371e-02, -8.04669484e-02,
          3.49149108e-01,  2.96436161e-01, -2.68631756e-01,
          1.58441380e-01,  1.31835297e-01, -1.87787250e-01,
         -3.81075859e-01, -2.37961292e-01, -1.91791087e-01,
         -8.28537941e-02, -3.04907169e-02,  7.20155388e-02,
         -3.06602046e-02],
        [ 1.47513300e-01,  1.62697762e-01,  3.81379485e-01,
         -4.36737627e-01, -6.33849129e-02,  1.39988378e-01,
          4.57893938e-01, -2.69106627e-01, -1.18784778e-01,
          1.99519575e-01,  1.42904952e-01, -2.07247362e-01,
         -3.60253304e-01,  3.55526239e-01,  1.74114957e-01,
         -2.69168317e-01],
        [ 3.61836076e-01,  1.81687057e-01, -1.46773413e-01,
         -2.71652132e-01,  5.50625920e-02, -1.25042662e-01,
         -5.91281056e-02,  1.52628556e-01,  1.03570428e-03,
         -2.56901503e-01,  2.61372477e-01,  1.84342533e-01,
         -1.61147207e-01, -1.13716178e-01,  3.64816189e-01,
         -1.38096869e-01],
        [ 2.94463336e-01,  4.20052499e-01,  1.63721979e-01,
         -1.29857481e-01,  3.81796420e-01,  2.08950937e-01,
          4.32290256e-01, -4.63011935e-02,  3.50920737e-01,
          4.52013128e-02,  1.07655779e-01,  2.83176363e-01,
         -3.15302342e-01, -1.98735207e-01, -1.52292639e-01,
          3.75665613e-02],
        [ 4.10563827e-01, -3.75950933e-01, -8.26281831e-02,
          1.77609012e-01,  1.39627740e-01, -2.11661518e-01,
         -7.97314569e-02,  6.22172534e-01, -5.33614755e-01,
         -3.14444125e-01, -2.01515228e-01,  7.70819858e-02,
          3.49683255e-01,  1.27647351e-02, -1.45121604e-01,
          4.73398060e-01],
        [ 4.51074362e-01,  2.38471746e-01, -2.01158226e-02,
         -3.48591715e-01, -2.62562096e-01,  1.80675641e-01,
          3.77535552e-01, -7.94547275e-02, -2.48966530e-01,
         -3.03224146e-01,  1.70510225e-02, -7.66597912e-02,
         -9.23352018e-02,  4.92939316e-02, -2.31245801e-01,
          5.74586570e-01],
        [ 8.56898069e-01,  1.94446489e-01, -2.22851366e-01,
          1.94848642e-01,  2.13567615e-01, -4.71484572e-01,
         -7.26007596e-02,  2.02893123e-01,  2.09756136e-01,
         -1.54846951e-01,  1.10779211e-01, -3.34096074e-01,
          6.97288439e-02,  1.50689304e-01,  1.47467107e-01,
          1.61611930e-01],
        [ 3.30223680e-01,  1.02875173e-01,  3.83456498e-01,
          1.31938964e-01,  3.06740433e-01,  3.18485469e-01,
          4.31558579e-01,  2.03015521e-01,  1.00719802e-01,
          1.85286209e-01, -2.84007132e-01,  3.17924261e-01,
         -1.74507529e-01,  1.82858095e-01,  2.23144460e-02,
          1.59423381e-01],
        [-1.30596817e-01,  1.01932697e-01,  3.54037821e-01,
         -3.06038260e-02, -3.19903880e-01, -6.71599656e-02,
         -3.92317414e-01, -5.01600979e-03,  2.47019097e-01,
         -4.20044333e-01,  1.99626565e-01,  4.19862837e-01,
          3.15753698e-01, -2.74950676e-02,  3.64001304e-01,
          3.53181511e-01],
        [-7.66116157e-02, -2.24288687e-01,  1.21345378e-01,
          1.10167721e-02,  2.52958899e-03, -2.63634503e-01,
          1.63404122e-01,  2.09682465e-01,  2.82410502e-01,
         -1.21751727e-05, -1.39306962e-01, -8.16331953e-02,
         -1.39895558e-01,  4.45152462e-01, -9.17338359e-04,
          3.99552375e-01]], dtype=float32),
 array([-0.05819673,  0.03665096, -0.03674337,  0.04062899,  0.03983306,
         0.03640027, -0.03830081, -0.03641747,  0.04001888,  0.04008998,
         0.03740749,  0.03449585, -0.0384072 ,  0.03863335,  0.04025729,
        -0.03843171], dtype=float32),
 array([[ 0.422789  ],
        [-0.3306084 ],
        [ 0.33988473],
        [-0.5077337 ],
        [-0.40552446],
        [-0.23873238],
        [ 0.35169047],
        [ 0.17135677],
        [-0.39544246],
        [-0.6766922 ],
        [-0.497827  ],
        [-0.07185683],
        [ 0.11561534],
        [-0.5932927 ],
        [-0.6696854 ],
        [ 0.20917363]], dtype=float32),
 array([-0.03830924], dtype=float32)]